<!DOCTYPE html>
<html>
    <head>
        <title>
            Some Website
        </title>
    </head>
<body>
    <h1>
        We'll be back shortly
    </h1>
     <p>
         Site is under maintaince.
     </p>


</body>
</html> 